.cf:after {
    content:"";
    display:block;
    clear:both;
}

.contain {
	margin: 0 auto;
	max-width: 1140px;
  padding: 0 $base-spacing-unit;
}

// grid layouts
@supports(display:grid){
	.grid {
		display: grid;
		grid-gap: $base-spacing-unit;

		&--padded { padding: $base-spacing-unit; }

		&--gutterless {
			grid-gap: 0;
			padding: 0;
		}

		@include mq( $from : tablet ){

			// equal column widths
			&--halves 	{ grid-template-columns: 1fr 1fr; }
			&--thirds 	{ grid-template-columns: 1fr 1fr 1fr; }
			&--quarters { grid-template-columns: repeat(4, 1fr); }
			&--fifths 	{ grid-template-columns: repeat(5, 1fr); }
			&--sixths 	{ grid-template-columns: repeat(6, 1fr); }
		}
		@include mq( $from : desktop ){

			// content with sidebar
			&--has-sidebar	{ grid-template-columns: 3fr 1fr; }
		}
	}
}

#newsletter_form{
  position: relative;

  .elementor-field-type-acceptance{
    position: absolute;
    bottom: -30px;
  }
}

.pagination{
	margin: $base-spacing-unit 0;
	padding: $base-spacing-unit;
	text-align: center;

	.page-numbers {
		padding: 0 .5rem;

		:first-child & { padding-left: 0; }
		:last-child & { padding-right: 0; }
	}
}

body{
  .wc_ps_container{
    border: 0px!important;
    width: 60%;
    margin: 0 auto;

      .wc_ps_nav_submit{ background-color: $color-brand-1!important; }

      .wc_ps_nav_field{
        background-color: rgba(255,255,255,0.7)!important;
        border: 0px!important;

        .wc_ps_search_keyword{
          font: normal 14px/1.4em $alt-font-family !important;
          font-family: $alt-font-family!important;
        }
      }
  }

  .fa-search:before{ color: $white!important; }

  .elementor-icon-box-content{
    h3{ margin-top: 0px;}
  }
}


.single .pagination{
	.next-prev { display: block; line-height: 1; }
	.prev-post { text-align: left; }
	.next-post { text-align: right; }
}
