/**
 * Base stuff
 */
$base-font-size:    1rem;
$base-line-height:  1.5em;
$base-spacing-unit: 20px;


/**
 * Base font-family.
 */
$base-font-family: 'Nanum Gothic', sans-serif;
$alt-font-family: 'Source Sans Pro', sans-serif;
$title-font-family:  serif;


/**
 * Colours
 */
$color-text:    #000;

$color-brand-1: #0e6c82;
$color-brand-1-light: #1391ae;
$color-brand-2: #707070;
$color-brand-3: #f9f9f9;
$color-brand-4: #000000;
$color-brand-5: #000000;

$color-border: #ccc;
$white: #fff;
$black: #000;
