/**
 * Top level stuff
 */
*{ box-sizing: border-box; }

body,
html {
	height:100%;
}



/**
* Typography
*/
html{ font-size: 10px; line-height: 1.5; }
body{
	color: $color-text;
	font-family: $base-font-family;
	font-size: 1.6rem;
}
h1, .h1{ font-family: $base-font-family; font-size: 5.0rem; font-weight: 400; }
h2, .h2{ font-family: $base-font-family; font-size: 3.8rem; font-weight: 400; }
h3, .h3{ font-family: $base-font-family; font-size: 3.2rem; }
h4, .h4{ font-size: 2.6rem; }
h5, .h5{ font-size: 2.0rem; }
h6, .h6{ font-size: 1.8rem; }

a{
	color: $color-brand-1;

	&:hover{ color: $color-brand-1-light; }
}

a, p, li{
	font-family: $alt-font-family;
}

/**
 * Imagery
 */
img{ height: auto; max-width: 100%; }


/**
* Forms
*/
form{
	input[type=text],
	input[type=email],
	input[type=password],
	input[type=tel],
	textarea{
		border: solid 1px $color-border;
		padding: $base-spacing-unit/2 $base-spacing-unit;
		width: 100%;
	}
}
fieldset{
	border: 0;
	margin: 0 0 $base-spacing-unit*2 0;
	padding: 0;

	legend{
		@extend .h2;
		display: block;
		padding: 0;
		width: 100%;
	}
}


/**
 * Buttons
 */
button,
input[type=submit],
.button {
	background: $color-border;
	border: solid 1px $color-border;
	border-radius: 0px;
	cursor: pointer;
	display: inline-block;
	padding: $base-spacing-unit/2 $base-spacing-unit;
	transition: all 0.3s ease-in-out;

	-webkit-appearance: none;

	&:hover {
		background: lighten($color-border, 10);
	}
}


/**
 * Tables
 */
table {
	margin: 0 auto;
	text-align: left;
	width: 100%;

	// all cells
	tr{

		&:last-child{
			th, td {

			}
		}

		th, td {
			border-right: 0;
			border-bottom: 0;
			padding: $base-spacing-unit/2;
		}
	}
}
