/**
 * Body wrapper for specificity
 * This is prefereable to !important
 */

body {
  &.single-product{
    #primary{
      max-width: 1140px;
      margin: 0 auto;
    }

    .product_title{
      font-size: $base-font-size*3;
    }

    .yith-wcwl-add-button{
      margin: $base-spacing-unit*1.5 0 $base-spacing-unit*1.5 0;
      a.add_to_wishlist{
        background: $color-brand-1;
        border-radius: 0px;
        color: $white;
        font-weight: 400;
        padding: 15px $base-spacing-unit;
        text-decoration: none;

        &:hover{ background-color: $color-brand-1-light; }
      }
    }

    .sku_wrapper, .posted_in{ display: block; }

    #ec3d{
      iframe{
        border: 0px;
        width: 100%;
      }
    }

    div.product{
      div.summary{ width: 100%!important; }
    }
  }

  &.woocommerce{
    a.button{
      background-color: $color-brand-1;
    	border-radius: 0px;
    	color: $white;
    	font-weight: 400;
    	padding: 15px $base-spacing-unit;

    	&:hover{
        background-color: #1391ae;
        color: $white;
      }
    }

    .woocommerce-breadcrumb{ margin-top: $base-spacing-unit;}

    .woocommerce-products-header__title{
      font-size: $base-font-size*3;
      margin-top: 0px;
    }

    .wishlist_table{ thead{ display: none; } }

    table.shop_table{
      border-left: 1px solid rgba(0,0,0,0.1);
      border-right:  1px solid rgba(0,0,0,0.1);
      border-top: 0px;
      font-family: "Source Sans Pro",sans-serif;
      font-size: 16px;

      a{ text-decoration: none; }
    }

    a.remove{
      color: $color-brand-1!important;
      padding: 0 0 0 15px;

      &:hover{
        background: none;
        color: $color-brand-1-light!important;
      }
    }

    .product_meta{ display: none; }

    .yith-wcwl-add-to-wishlist{ margin-bottom: $base-spacing-unit*2; }
  }

  ul.products{
   .woocommerce-loop-product__title{
     color: $color-brand-2;
     font-family: $alt-font-family;
     font-size: 18px!important;
     font-weight: 400;
     height: 100px;
  }

  li.product{
    background-color: #f9f9f9;
    padding: $base-spacing-unit!important;
  }

   li.product .button{
      background: $color-brand-1;
      border-radius: 0px;
      color: $white;
      font-weight: 400;
      padding: 15px $base-spacing-unit;

      &:hover{ background-color: #1391ae; }
   }
  }
}

@include mq($until: tablet){
  .woocommerce ul.products[class*=columns-] li.product{ width: 100%!important; }

  .woocommerce .elementor-wc-products.elementor-products-columns-3 ul.products{
    grid-template-columns: repeat(1, 1fr);
  }
}

.shop_attributes a[rel="tag"] {
  pointer-events: none;
  cursor: default;
  color: $color-brand-1;
}

.woocommerce-pagination{ padding-top: $base-spacing-unit*2; }

.ask_btn{
  padding: 17px $base-spacing-unit!important;
  display: inline-block;
}

.yith-wcwl-add-to-wishlist{ display: inline-block; }
