body{
  .mega-sub-menu{
    max-width: 1000px!important;
    left: 0!important;

  }

  #mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-megamenu ul.mega-sub-menu li.mega-menu-item a.mega-menu-link{ font-size: 12px!important; }
  #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link{
    background: #fff;
    border-bottom: 2px solid $color-brand-1;
    color: $color-brand-1;
  }

  #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item > a.mega-menu-link:focus{
    background: #fff;
    color: $color-brand-1;
  }

  #mega-menu-wrap-main_menu{
    background: $white;
    .mega-menu-toggle{ background: $white; }
    #mega-menu-main_menu{
      text-align: right;

      li.mega-menu-item{
        a.mega-menu-link{
          color: $color-brand-1;
          font-family: $alt-font-family!important;
          font-size: 16px!important;

          &:hover{
            background: none;
            border-bottom: 2px solid $color-brand-1;
            color: $color-brand-1;
          }
        }
      }

      li.mega-menu-megamenu{

        ul.mega-sub-menu li.mega-menu-column{
          ul.mega-sub-menu{
            li.mega-menu-item{
              padding: 0px 30px 12px 30px!important;
            }
          }
        }

        ul.mega-sub-menu{
          background: $color-brand-3;
          max-width: 600px;
          left: initial;

          li.mega-menu-item{
            a.mega-menu-link{
              color: $color-brand-1!important;
              font-weight: normal!important;
              font-size: 12px!important;
              text-transform: none!important;
              padding: 5px;
            }
          }
        }
      }

    }
  }
}

#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item, #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item{
  padding: $base-spacing-unit/2!important;
}

#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link, #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link{
  border-bottom: 1px solid #d4d4d4!important;
  padding-bottom: 10px;
}

#mega-menu-wrap-main_menu #mega-menu-main_menu >li.mega-applications_menu>ul.mega-sub-menu li.mega-menu-column>ul.mega-sub-menu>li.mega-menu-item>a.mega-menu-link{ border-bottom: 0px!important; }

#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item h4.mega-block-title, #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item h4.mega-block-title{
  font-size: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d4d4d4!important;
}

#mega-menu-wrap-main_menu #mega-menu-main_menu[data-effect="fade_up"] li.mega-menu-item.mega-menu-megamenu > ul.mega-sub-menu{ padding-top: 15px!important; padding-bottom: 15px!important;}

#mega-menu-wrap-main_menu #mega-menu-main_menu>li.mega-menu-megamenu>ul.mega-sub-menu>li.mega-menu-item, #mega-menu-wrap-main_menu #mega-menu-main_menu>li.mega-menu-megamenu>ul.mega-sub-menu li.mega-menu-column>ul.mega-sub-menu>li.mega-menu-item{
  padding: 0px 30px 12px 30px!important;
}

body #mega-menu-wrap-main_menu #mega-menu-main_menu li.mega-menu-megamenu ul.mega-sub-menu li.mega-menu-item a.mega-menu-link{
  padding-bottom: 10px!important;
}

#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item.mega-toggle-on > a.mega-menu-link{ background: $color-brand-1; }
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:focus, #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:focus{
  color: #4796a9!important;
}

#mega-menu-wrap-main_menu .mega-menu-toggle .mega-toggle-block-1:after,
#mega-menu-wrap-main_menu .mega-menu-toggle .mega-toggle-block-1 .mega-toggle-label{
  color: $color-brand-1;
}

.mega-toggle-blocks-left, .mega-toggle-blocks-center{ display: none!important; }
.mega-toggle-blocks-right{ justify-content: center!important; }

@include mq($from: tablet){
  .mega-applications_menu a.mega-menu-link{ text-align: center; }  
}
