.comment-list{
	list-style: none;
	padding: 0;

	li{
		border-left: solid 2px $color-brand-1;
		background: #fefefe;
		margin-bottom: $base-spacing-unit;
		padding-bottom: $base-spacing-unit/2;

		li{
            border-left: 0;
			margin-top: $base-spacing-unit/2;

			.comment-author{
				background: $color-border;
				color: $color-text;

				a, cite{ color: $color-text; }
			}
		}

		@include mq(mobile){
			ol{margin-left: $base-spacing-unit/4;}
		}
		@include mq(tablet){
			ol{margin-left: $base-spacing-unit/3;}
		}
		@include mq(desktop){
			ol{margin-left: $base-spacing-unit/2;}
		}
		@include mq(wide){
			ol{margin-left: $base-spacing-unit;}
		}
	}

	p{
		padding-left: $base-spacing-unit/2;
		padding-right: $base-spacing-unit/2;
	}

	a{
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	ol { list-style: none; }

	.comment-author{
		background: $color-brand-1;
		color: #fff;

		a, cite{
			color: #fff;
			font-style: normal;
		}

		img{
			display: inline;
			margin-left: -2px;
            margin-right: $base-spacing-unit/2;
            padding: 5px;
			vertical-align: middle;
		}
	}

	.comment-meta{
		color: $color-text;
		margin: 0;
		padding: 0;
	}

	.comment-reply-link{
		display: inline-block;
		padding: $base-spacing-unit/2;
	}
}