/*!
Theme Name: namespace
Description: Custom built WordPress theme
Author: Jigowatt
Author URI: Jigowatt.co.uk
Version: 0.0.1
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

/**
 * FONTS
 *
 * @NOTE: import fonts here
 */
// @font-face {
//      font-family: 'FONTNAME';
//      src: url('dist/fonts/FILENAME.eot');
//      src:
//         url('dist/fonts/FILENAME.eot?#iefix') format('embedded-opentype'),
//         url('dist/fonts/FILENAME.woff2') format('woff2'),
//         url('dist/fonts/FILENAME.woff') format('woff'),
//         url('dist/fonts/FILENAME.ttf') format('truetype');
// }


/**
 * UTIL IMPORTS
 *
 * @NOTE: sass stuff and browser reset styles
 */
@import "_utils/vars";              // vars
@import "_utils/mixins";            // mixins

/**
 * BASE IMPORTS
 *
 * @NOTE: build a foundation
 */
@import "base/wordpress";           // wordpress default styles
@import "base/woocommerce";         // woocommerce override styles


/**
 * BLOCKS
 *
 * @NOTE: larger elements
 */
@import "blocks/sidebar";           // siderbar area
@import "blocks/footer";            // footer area
@import "blocks/post-comments";     // comments


/**
 * LAYOUTS
 *
 * @NOTE: Page/Section specific styles
 */
// @import "layouts/home";          // homepage styles
